.first
  h1 It's been...
  
  .slide
  
    h1 1 Year
    
    h1 = 12 Months
    
    h1 = 365 Days
    
    h1 = 8765.81 Hours
    
    h1 = 525949 Minutes
    
.second
  h1 I couldn't have spent it without you Shayla,
  
  h1 I love you
  
  h1 Here's a fraction of our time together...
    
