.eventPopup
  position: relative
  height: 100%
  width: 100%
  text-align: center
  background: tan

  *
    box-sizing: border-box

  .back
    position: absolute
    top: -3.6em
    cursor: pointer
    z-index: 3

    svg
      height: 2em
      width: 2em

  .col
    display: inline-block
    position: relative
    width: 45%
    vertical-align: top
    padding: 1em
    margin: 5em 0

    &:after
      content: ""
      display: table
      clear: both

    +below(800px)
      width: 90%
      margin: 0

      &:last-of-type
        margin-bottom: 2em

    img
      width: 100%

    .title, .date
      position: relative
      width: 100%
      text-align: center

    .desc
      position: relative
      width: 100%
      margin-bottom: 2em
      text-align: left

    .share-button
      position: relative
      text-align: left
