#header
  position: relative
  height: 20%
  z-index: 3
  text-align: center
  background: peach

  h1
    margin: 0
    padding: 0.67em 0

    a
      color: white
      text-decoration: none

  img
    display: none
